// переменные
$screen: 1200px;
$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gray:#CFCFCF;
$white:#FFFFFF;
$top-color__hover:#52A1F0;
$top-color__active:#4C95DE;


.about-course{
  margin-top: 50px;
}
.about-course__title{
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
.about-course__video{
  width: 80%;
  margin: 0 auto;
}
.video-hello{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  &__embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
  }
}
.about-course--bgc-video{
  padding: 30px 0;
  background-image:
  url(/img/bg-about-up.svg),
  url(/img/bg-about-down.svg) ;
background-position: 0 10%, 100% 100%;
background-size: 60%, 60%;
background-repeat: no-repeat, no-repeat;
  // background-image:
  //     url(/img/bg-about-up.svg);
  // background-size: cover;
  // background-repeat: no-repeat;
}
.about-course__karina{
  padding-top: 20px;
  background-image:
  url(/img/bg-about-wave-blure.jpg);
  // background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  &--wraper{
    padding: 0 20px;
  }
}
.about-course__caprion{
  margin-top: 20px;
  text-align: center;
  padding-left: 20px;
}
.about-course__text{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about-course__text-list{
  display: grid;
  grid-template-columns: 0 1fr;
  grid-gap: 1.5em;
  align-items: start;
  line-height: 1.25;

  &::before{
    content: "✔";
    color: #C38983;
  }
}

.about-course__picture{
  display: none;
}
@media (min-width: 768px) {
  .about-course{
    margin-top: 60px;
  }
  .about-course__title{
    padding-bottom: 40px;
  }
  .about-course--bgc-video{
    padding-top: 50px;
    background-image:
                  url(/img/bg-about-up.svg),
                  url(/img/bg-about-down.svg) ;
    background-position: 0 10%, 100% 100%;
    background-size: 60%, 60%;
    background-repeat: no-repeat, no-repeat;
  }
  .about-course__caprion,
  .about-course__karina--wraper{
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-course__karina{
    // background-image: none;
  }
  .about-course__picture{
    display: grid;
    justify-self: end;
    align-self:  end;
  }

}
@media (min-width:1200px) {
  .about-course{
    margin-top: 80px;
  }
  .about-course__video{
   max-width: 860px;
  }
  .about-course--bgc-video{
    padding: 70px 0;
  }
  .about-course__karina{

    background-image: url(/img/bg-about-wave.svg);
    background-size: 30%;
    background-position: bottom 0 left 0;
  }
  .about-course__caprion,
  .about-course__karina--wraper{
    width: $screen;
    margin: 0 auto;
  }
  .about-course__karina--wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-course__myphoto{
    display: block;
  }


}
