$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;



.benefits{
  padding: 40px 20px;
  padding-bottom: 30px;
  background-image: url(/img/benefits-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.benefits__title{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.benefits__subtitle{
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.benefits__list{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top:40px;
}
.benefits__item{
  display: flex;
  img{
    width: 50px;
    height: 50px;
  }
}
.benefits__text{
  margin: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  align-self: center;
}
@media(min-width: 768px){
  .benefits{
    padding: 40px 50px;
    padding-bottom: 30px;
  }
  .benefits__text{
    margin-bottom: 40px;
  }
}
@media(min-width: 1200px){
  .benefits__wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  .benefits__text{
    margin-bottom: 50px;
  }
}
