$screen: 1200px;
$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#108f50;
$gren__active:#06c100;
$gray:#CFCFCF;
$white:#FFFFFF;
$top-color__hover:#a305ca9d;
$top-color__active:#4C95DE;

//  .swiper-container {
//   width: 100%;
//   max-width: 960px;
//   height: 100%;
// }

// .feadback .swiper-container .swiper-pagination {
//   /* margin-top: 2150px; */
//   bottom: -35px;
// }
.feadback{
  padding: 20px 0;
  background-image: url(/img/feadback_bg.svg);
  background-repeat: no-repeat;
  background-position: 0 100px;
  background-size: cover;

}
.feadback__pretitle{
  padding-left: 40px;
  padding-right: 40px;
  color: #b6006a;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.feadback__title{
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}
.feadback .swiper-container{
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
//  .swiper-pagination  .swiper-pagination-bullet{
//   position: relative;
//   width: 25px;
//   height: 25px;
//   border: solid 2px $top-color;
//   border-radius: 100%;
//   background-color: transparent;
//   opacity: 1;
//   text-align: center;
// }
//  .swiper-pagination .swiper-pagination-bullet-active::before{
//   content: "";
//   position: absolute;
//   width: 60%;
//   height: 60%;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border-radius: 100%;
//   background-color: $top-color;

// }
/* .swiper-pagination-bullet::before{

} */
.swiper-slide:focus .feadback__container{
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
}

.feadback__image{
  border-radius: 20px;
}
.feadback__image--pic{
  margin-top: 3px;
  border-radius: 20px;
  box-shadow: $gray 0 0 0 1px;
}

@media (min-width: 768px) {
  .feadback{
    background-position: 0 50%;
    background-size: 100%;
  }
  .feadback__wraper{
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
  .feadback__title{
    margin-bottom: 50px;
  }
  .feadback__container{
    margin-left: 10px;
    margin-right: 10px;
  }


}
@media (min-width: 1200px) {
  .feadback__wraper{
    max-width: 1200px;
  }
  .feadback__title{
    margin-bottom: 50px;

}
}
