$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;

.footer{
  background-color: #1e1d2e;
}
.footer__wraper{

  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  color: $white;
}
.footer__copirite{
  // margin-bottom: 30px;
  display: block;
  margin-bottom: 20px;
  color: $white;
  p{
    margin: 0;
    padding: 0;
    color: $text-add;
  }
}
.footer__personal,
.footer__menu,
.footer__course{
  margin-bottom: 30px;
  h4{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color:$top-color;
  }
  a{
    display: block;
    margin-bottom: 4px;
    text-decoration: none;
    color: $white;
  }
  a:hover,
  a:focus{
    text-decoration: underline;
    color: $gray;
  }
}
.footer__creat{
  a{
    display: block;
    color: rgba(255, 255, 255, 0.445);
    text-decoration: none;
  }
  a:focus{
    text-decoration: underline;
    color: $gray;
  }
}

@media(min-width: 768px){
  .footer__wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    gap: 10px;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
  }
  // .footer__copirite{
  //   margin: 0;
  // }
}

@media(min-width: 1200px){
  .footer__info{
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer__wraper{

    padding-top: 80px;
  }
}
