// Шрифты
@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Regular'),
   local('GolosText-Regular'),
   url('/fonts/Golostextregular.woff2') format('woff2'),
   url('/fonts/Golostextregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Medium'),
   local('GolosText-Medium'),
   url('/fonts/Golostextmedium.woff2') format('woff2'),
   url('/fonts/Golostextmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Bold'),
   local('GolosText-Bold'),
   url('/fonts/Golostextbold.woff2') format('woff2'),
   url('/fonts/Golostextbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// переменные
$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;


// скрытие элментов
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 27px;
  font-family: 'Golos Text', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 400;
  color: $text-color;


}
h1{
  font-weight: 700;
  color: $text-color;
  font-size: 27px;
}
h2{
  color: $text-color;
  font-size: 24px;
  line-height: 1.2;
}
h3{
  color: $text-color;
  font-size: 22px;
}
img {
  max-width: 100%;
  height: auto;
}
.button-link{
  display: inline-block;
  min-width: 150px;
  padding: .35em 1em;
  border-radius: 7px;
  background-color: $top-color;
  // border:solid $white 2px;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-anchor: manipulation;
  transition: all 0.15s ease-in;
  &:hover,
  &:focus{
    // border:solid $top-color 2px;
    background-color: $top-color__hover;
    box-shadow: -3px 3px 5px 0 #182f522f;
  }
  &:focus{
    outline: none;
    box-shadow: 0 0 0 1px $gren;
  }
  &:active{
    // border:solid $top-color 1px;
    background-color: $top-color__active;
  }
}
// Кнопка 7 дней бесплатно
.seven-day-free{
  max-width: 500px;
margin: 0 auto;
  padding: 50px 20px;
}
.seven-day__link{
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: $gren;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: $white;
  cursor: pointer;
  transition: 0.3s;
  &:hover,
  &:focus{
    background-color: $gren__hover;
    box-shadow: -3px 3px 5px 0 #182f522f;
  }
  &:focus{
    outline: none;
    box-shadow: 0 0 0 1px $top-color;
  }
  &:active{
    background-color: $gren__active;
  }
}
@media (min-width: 426px){
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 30px;
  }
}
@media (min-width: 768px) {
      h1{
        font-size: 42px;
      }
      h2{
        font-size: 42px;
        line-height: 1.3;
      }

      h3{
        font-size: 28px;
      }
}
@media (min-width: 1200px) {
  body{
    background-position: 130% 0;
    background-size: 70%;
    font-size: 18px;
  }
  .ind{
    font-weight: 500;
  }
}


