$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;
$red: #e00083;

.good-course{
  padding: 0 20px;
}
.good-course__title{
  text-align: center;
  margin-bottom: 30px;
}
.good-course__container{
  list-style: none;
  margin: 0;
  padding: 0;
}
.good-course__item{
  margin: 20px 0;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px $gray;
  text-align: center;
}

@media(min-width: 768px){
  .good-course{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 60px;
  }
  .good-course__title{
    margin-bottom: 50px;
  }
  .good-course__item{
    display: grid;
    grid-template-columns: 2fr 0.7fr 2fr;
    justify-content: space-between;
    box-shadow: none;
  }
  .good-course__image{
    justify-self: center;
  }
  .good-course__text-left{
    align-self: center;
    text-align: right;
  }
  .good-course__text-right{
    align-self: center;
    text-align: left;
  }
  .good-course__text-left--tooltip-who{
    top: 60px;
    text-align: center;
  }
}
