// переменные
$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;
$focus:#E7E7E7;
$focus-mobile:#CACACA;





.header{
  // position: relative;

  // box-shadow: 0 0 0 10px $text-color;
  // overflow: hidden;

  &__logo,
  &__link-logo{
    width: 200px;
    height: 50px;
    padding-left: 10px;
  }
  &__nav{
    justify-self:end;
    padding-right: 10px;
  }
}
.header-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 5px;
}
.header__link-logo{
  margin-top: 10px;
}
@media (max-width:849px){

// Кнопочка для меню, оформление

.main-nav__btn{
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;

  background-color: transparent;
  padding: 0px;
  border-width: 0px;
  z-index: 30;
  &--line,
  &--line::before,
  &--line::after{
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 50px;
  }
  &--line{
    left: 10px;
    transition: transform .1s linear;
    &::before,&::after{
      content:" ";
      left: 0;
    }
    &::before{
      top: -7px;
      transition: top .1s .2s linear;
    }
    &::after{
      bottom: -7px;
      transition: bottom .1s .2s linear,transform .1s linear;
    }
  }
}

//Кнопка в состоянии открытого меню

.open{
  // height: 100%;
  // width: 100%;
  // position: fixed;
  overflow: hidden;
  .main-nav__btn{

    &--line{
    background-color: $white;
    transition: transform .1s .2s linear;
    transform: rotate(45deg);
    }
    &--line::before{
      background-color: $white;
      top: 0;
      transition: top .1s linear,opacity .1s .2s linear;
      opacity: 0;
    }
    &--line::after{
      background-color: $white;
      bottom: 0;
      transition: bottom .1s linear,transform .1s .2s linear;
      transform: rotate(-90deg);
    }
  }
}
//Кнопка без js
.nojs{
  .main-nav__btn{
    display: none;
  }
}

.main-nav__list,
.site-list__item-podmenu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
// Меню без JS
.nojs .header__nav {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  width: 100%;
  padding-right: 0;

  .site-list {
    position: relative;
    flex-direction: column;
    min-height: 350px;
    justify-content: center;
    display: flex;
    background-color: $text-color;

    &__item {
      padding-top: 10px;
      padding-right: 0;
      padding-bottom: 10px;
      padding-left: 20%;
    }

    &__link {
      display: block;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      color: $white;
    }
  }

  .site-list__link-subdmenu {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 5px;
      left: 80px;
      width: 10px;
      height: 10px;
      border-left: solid 2px $white;
      border-bottom: solid 2px $white;
      transform: rotate(315deg);
      transition: transform .2s linear;
    }
  }

  .site-list__item-podmenu {
    .site-list__item {
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .site-list__link {
      font-size: 16px;
    }
  }
}
// Меню в закртытом состоянии
.close{
  .site-list{
    visibility: hidden;
    right: -450px;
    z-index: -1;
  }
}
// Меню в открытом состоянии
.site-list{
  position: fixed;
  top: 0;
  overflow: hidden;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  justify-items: start;
  justify-content: end;
  align-content: start;
  z-index: 20;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &__item{
    padding: 15px;
  }
  &__item:first-child{
    margin-top: 50px;
  }
  &__item:last-child{
    margin-bottom: 50px;
  }
  &__link{
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: $white;
  }
}
.site-list__mount{
  position: absolute;
  top: 0;
  right: -70px;
  height: 500px;
  z-index: -1;
  width: 360px;
  overflow: hidden;
  background-color: #3391ED;
  transform: skewX(15deg);
  background: rgb(87,172,255);
  background: linear-gradient(204deg,
   rgba(87,172,255,1) 0%,
   rgba(87,172,255,1) 85%,
   rgba(247,157,255,1) 100%);
  list-style: none;
}
.site-list__item--down{
  min-width: 250px;
}
.site-list__item--down-close{
  .site-list__link-subdmenu{
    &::after{
      top: 6px;
      transform: rotate(135deg);
    }
  }
}
  .site-list__link-subdmenu{
    position: relative;
    &::after{
      content: " ";
      position: absolute;
      top: 7px;
      left: 75px;
      width: 10px;
      height: 10px;
      border-left: solid 2px $white;
      border-bottom: solid 2px $white;
      transform: rotate(315deg);
      transition: transform .2s linear;
    }
  }
  .site-list__link,
  .site-list__link-subdmenu{
    &:focus-within{
      outline: none;
      color: $focus-mobile;
    }
    &:active{
      color: $focus-mobile;
    }
  }

  .site-list__link--active{
    color: $gray;
    &:focus-within{
      outline: none;
      color: $white;
    }
    &:active{
      color: $white;
    }
  }
.site-list__item-podmenu{
  padding-left: 20px;
  .site-list__link{
    font-size: 18px;
  }
  .site-list__item{
    padding: 5px;
    margin: 5px;
  }
}
.site-list__item--down-close{
  .site-list__item-podmenu{
    display: none;
  }
}
.open{
  overflow: hidden;
}
}
.site-list__mount{
  list-style: none;
}
@media (min-width: 849px) {
  .header{
    grid-template-columns: 1fr 3fr;
    padding-right: 50px;
    padding-left: 50px;

    &__nav{
      width: 600px;

    }
  }
  .main-nav{
    &__btn{
      display: none;
    }
    &__list{
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding-left: 0;
    }
  }

    .site-list {
      margin-top: 15px;
    }
    .site-list__item {
      position: relative;
      margin-right: 15px;
      list-style-type: none;

    }
    .site-list__link,
    .site-list__link-subdmenu{
      display: inline-block;
      text-decoration: none;
      color: $white;
      overflow: hidden;
      outline: none;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $white;
        width: 107%;
        height: 2px;
        transform:  translateX(-110%);
        transition: all 0.2s ease-in-out;
      }
      &:hover,
      &:focus-within{
        outline: none;
        &::after{
          transform:  translateX(0);
        }
      }
      &:active{
        color: $focus;
        &::after{
          background-color: $focus;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .site-list__link-subdmenu{
      padding-right: 20px;
      &::before{
        content: "";
        position: absolute;
        top: 48%;
        right: 5px;
        display: block;
        width: 0;
        height: 0;
        border-width: 6px 4px 0;
        border-style: solid;
        border-color: $white transparent transparent;
      }
      }
    .telegram-header .site-list__link-subdmenu{
      &::before{
        border-color: $top-color__hover transparent transparent;
      }
    }
    .site-list__link{
      position: relative;
    }
    .site-list__link--active{
      cursor: default;
      &::after{
        transform:  translateX(0);
        cursor: default;
      }
    }

      .site-list__item-podmenu{
        opacity: 0;
        position: absolute;
        left: 0;
        min-width: 200px;
        padding-left: 10px;
        visibility: hidden;
        display: none;
    }
    .main-nav__list .site-list__item:hover > .site-list__item-podmenu,
    .main-nav__list .site-list__item:focus-within > .site-list__item-podmenu,
    .main-nav__list .site-list__item .site-list__item-podmenu:hover,
    .main-nav__list .site-list__item .site-list__item-podmenu:focus {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }


// Стили для Telegram-club


.telegram-header .main-nav__btn,
.anglofan-header .main-nav__bt,
.alter-header .main-nav__btn{
    &--line,
    &--line::before,
    &--line::after{
      background-color: $top-color;
    }
  }
.open .telegram-header .main-nav__btn,
.open .anglofan-header .main-nav__btn,
.open .alter-header .main-nav__btn{
    &--line,
    &--line::before,
    &--line::after{
      background-color: $white;
    }
  }
@media (min-width: 849px) {
  .telegram-header,
  .anglofan-header{
    .site-list__link,
    .site-list__link-subdmenu{
      font-weight: 500;
      color: $top-color;
      &:hover{
        color: $top-color__hover;
      }
      &:after{
        background-color: $top-color__hover;
      }
    }
    .site-list__link--active{
      color: $top-color__hover;
      &:after{
        background-color: $top-color__hover;
        transform: translateX(0);
      }
    }
    .site-list__item-podmenu{
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
  .alter-menu{
    .site-list__link,
    .site-list__link-subdmenu{
      color: $top-color;
      &:hover{
        color: $top-color__hover;
      }
      &:after{
        background-color: $top-color__hover;
      }
    }
  }
}
