// переменные
$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;

.how-enroll{
  position: relative;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.how-enroll__title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.how-enroll__items{
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-enroll__list{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.how-enroll__list::before{
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 5px;
  height: 120%;
  border-radius: 10px;
  background-color: $top-color;
}
.how-enroll__image,
.how-enroll__number{
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.how-enroll__text{
  margin: 0;
  padding: 0;
  align-self: center;
  &--expl{
    font-size: 10px;
    color: $text-add;
  }
}
// .how-enroll--line{
//   position: absolute;
//   top: 0;
//   right: 5px;
//   display: grid;
//   margin-top: 15px;
//   grid-template-rows: 4fr 3fr 2fr 1fr;
//   height: 100%;
//   width: 4px;
//   gap: 5px;
// }
// .how-enroll--line-first,
// .how-enroll--line-two,
// .how-enroll--line-three,
// .how-enroll--line-four{
//   height: 100%;
//   width: 4px;
//   background-color: $top-color;
//   margin-right: 10px;
//   border-radius: 10px;
// }

.anglofan-enroll{
  margin-top: 60px;
  margin-bottom: 60px;
}
.how-enroll__image{
  max-width: 100%;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
}
@media(min-width: 768px){
  .how-enroll{
    padding: 0 50px;
  }

  .how-enroll__title{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .how-enroll--line{
    position: absolute;
    top: 0;
    right: 20px;
  }

}
@media(min-width: 1200px){
  .how-enroll{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
  .how-enroll__title{
    margin-bottom: 70px;
  }
  .how-enroll__list{
    position: relative;
  }
  .how-enroll__list:first-child{
    width: 40%;

  }
  .how-enroll__list:nth-child(2){
    width: 40%;
    margin-left: 15%;
  }
  .how-enroll__list:nth-child(3){
    width: 40%;
    margin-left: 30%;
  }
  .how-enroll__list:nth-child(4){
    width: 40%;
    margin-left: 45%;
  }
  .how-enroll__list:nth-child(5){
    width: 40%;
    margin-left: 60%;
  }
  .how-enroll__list::before{
    display: none;
  }
  .how-enroll__list::after{
    content: "";
    position: absolute;
    top: 0;
    right: -25%;
    width: 100px;
    height: 50px;
    // background-color: red;
    background-image: url(/img/step.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .how-enroll__list:last-child::after{
    display: none;
  }


//Cтили для SVG


  .anglofan-enroll{
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
