// переменные
$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gray:#CFCFCF;
$white:#FFFFFF;
$top-color__hover:#52A1F0;
$top-color__active:#4C95DE;

.head-wraper{
  padding-bottom: 50px;
  background-image: url(/img/bgc-main.svg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 40%;
  background-color: #ffffff;
  color:#182F52;
}
.welcome-info{
  padding: 10px 20px 0 20px ;
  &__title{
    margin-bottom: 10px;
    line-height:36px;
    // text-align: left;
  }
  &__subtitle{
    color: $top-color;
    // text-align: center;
    font-weight: 500;
    font-size:18px;
  }
  &__indent{
    margin-top: 25px;
    // text-align: center;
  }
}

.btn-bot{
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  &__vk,
  &__teleg{
    padding: .25em 0;
    min-width: 100px;
    width: 200px;

    }

  &__vk{
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
      &::after{
        content:"";
        width: 35px;
        height: 35px;
        background-image: url(/img/ico-vk-btn.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: right 10px;
      }
  }
  &__teleg{
    display: flex;
    justify-content: center;
    align-items: center;
      &::after{
        content:"";
        width: 35px;
        height: 35px;
        background-image: url(/img/ico-teleg-btn.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: right 7px;
      }
  }
}
@media (min-width: 768px) {
  .welcome-info{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin-top: 100px;
    margin-left: 50px;
    text-align: left;
    &__title,
    &__subtitle,
    &__indent{
      text-align: left;
    }
  }
  .btn-bot__vk{
    margin-left: 0;
  }
}
.social{
  display: none;
}
@media (min-width: 768px) {
  .welcome-info__title{
    margin-bottom: 2px;
  }
  .welcome-info__subtitle{
    font-size: 20px;
  }
  .btn-bot{
    display: flex;
    justify-content: flex-start;
  }
  .social{
    display: grid;
    row-gap: 30px;
    position: fixed;
    margin-right: 60px;
    padding: 40px 5px 40px 5px;
    border: solid 2px $top-color;
    border-radius: 33px;
    top: 35vh;
    left: 5px;
    &__facebook,
    &__insta,
    &__vk,
    &__youtube {
      width: 24px;
      height: 24px;
      fill: $gray;
      transition: all 0.15s ease-in;
      &--inline{
        width: 24px;
        height: 24px;
      }
      &:hover,
      &:focus{
        fill: $top-color;
      }
      &:active{
        fill: $top-color__active;
      }
    }
  }
}

@media (min-width: 1200px) {
  .welcome-info{
    grid-template-columns:1fr 0.5fr;
    max-width: 960px;
    margin: 0 auto;
    &__wraper{
      margin-top: 120px;
      margin-bottom: 50px;
    }
  }
  .social{
   margin-left: 5vw;
  }
}

.course{
  display: grid;
}
