$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#18c26d;
$top-color__active:#4C95DE;
$red: #e00083;

// Кнопка 7 дней бесплатно
.seven-day{
  padding-top: 30px;
}
.btn-welcom{
  width: 100%;
  max-width: 420px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(-50%);
  z-index: 999;
}
.daybox{
 display: none;
 justify-content: center;
 padding-right: 20px;
 padding-left: 20px;
}
.seven-day__wrap{
  // max-width: 420px;
}
.seven-day__btn{
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: .57em 0;
  padding-left: 1em;
  padding-right: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #b6006a;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  color: $white;
  cursor: pointer;
  transition: 0.3s;
    &:hover,
    &:focus{
      background-color: #960057;
      box-shadow: -3px 3px 5px 0 #182f522f;
    }
    &:active{
      background-color: #94115d;
    }
}
.seven-day__btn--text{
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.8px;
}
// .seven-day__inline-ico{
//   display: flex;
// }
// .seven-day__inline-ico--svg{
//   align-self: center;
//   width: 30px;
//   height: 30px;
// }
.seven-day__info{
  display: grid;
  margin-top: 30px;
}
.seven-day__img{
  // justify-items: center;
  justify-self: center;
  width: 130px;
  height: 130px;
}
.seven-day__title{
  // font-size: 20px;
  color: $top-color;
  text-align: center;
}
.seven-day__title.sale-free{
  font-size: 35px;
}
@media (min-width: 768px) {

  .btn-welcom{
    position: static;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 50px;
    padding-bottom: 80px;
    transform: translateX(0);
  }
  .daybox{
    display: flex;
  }
  .seven-day__btn{
    max-width: 420px;
  }
}
@media (min-width: 1200px) {
    .btn-welcom{
      max-width: 1200px;
      margin: 0 auto;
      padding-left: 50px;
    }

}
