$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;


.sing{
  padding: 0 20px;
}
.sing__title{
  text-align: center;
  margin-top: 20px;
}
.sign__btn{
  display: grid;

}
.sign__btn-link + .sign__btn-link{
  margin-top: 15px;
}

.social-footer{
  margin-top: 50px;

}
.social-footer__title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.social-footer__link{
  display: flex;
  justify-content: center;
  padding: 10px 5px 40px 5px;
}
.social-footer__element {
  width: 44px;
  height: 44px;
  fill: $top-color;
  transition: all 0.15s ease-in;
  &:hover,
  &:focus{
    transform: scale(1.2);
  }
  &:active{
    transform: scale(0.8);
  }
}
.social-footer__facebook--inline,
.social-footer__insta--inline,
.social-footer__youtube--inline,
.social-footer__vk--inline{
  width: 44px;
  height: 44px;
}
.social-footer__element + .social-footer__element{
  margin-left: 20px;
}


@media(min-width: 768px){
  .sing{
   padding-left: 50px;
  }
  .sing__title{
    margin-bottom: 60px;
  }
  .sign__btn{
    display: flex;
    justify-content: center;
  }
  .sign__btn-link + .sign__btn-link{
    margin-top: 0;
    margin-left: 20px;
    // max-width: 250px;
    // min-width: 250px;
  }

}
@media(min-width: 1200px){
  .sing{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 50px;
  }
  .sing__title{
    margin-bottom: 40px;
  }
  // .social-footer{
  //   text-align: center;
  // }
  .social-footer__title{
    font-size: 20px;
  }

}

