$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;

.social{
  display: none;
}
@media (min-width: 768px){
  .social{
    display: grid;
    top: 35vh;
    left: 5px;
    row-gap: 30px;
    position: fixed;
    margin-right: 60px;
    padding: 40px 2px 40px 2px;
    // background-color: $white;
    &__facebook,
    &__insta,
    &__vk,
    &__youtube {
      width: 35px;
      height: 35px;
      transition: all 0.15s ease-in;
      &--inline{
        width: 35px;
        height: 35px;
      }
      &:hover,
      &:focus{
        transform: scale(1.2);
      }
      &:active{
        transform: scale(0.8);
      }
    }
  }
}
@media (min-width: 1310px) {
  .social{
    margin-left: 3%;
   }
}
