$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__active:#4C95DE;
$red: #e00083;
$bg__price: #F3F3F3;

.telegram-prace {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  padding-bottom: 40px;
  background-image: url(/img/bg_price_telegram_down.svg),
    url(/img/bg_price_telegram_up.svg);
  background-color: $bg__price;
  background-repeat: no-repeat no-repeat;
  background-position: top right, left bottom;
  background-size: 50%;
  text-align: center;
}
.telegram-prace__block{
  // display: grid;
  // justify-content: center;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
}
.telegram-price__subtitle{
  margin-top: 35px;
  font-size: 23px;
  span{
    display: block;
    font-weight: 300;
  }
}
.telegram-prace__time{
  position: relative;
  padding-bottom: 10px;
  font-size: 22px;
}
.telegram-prace__time::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: $gray;
  transform: translateX(-50%);
  z-index: 1;
}
.telegram-prace__cash{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  color: $top-color;
  font-size: 36px;
  font-weight: 700;
  &--old{
    position: absolute;
    left: -10%;
    top: -30px;
    color: $text-color;
    font-size: 18px;
    font-weight: 500;
    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: -15%;
      width: 130%;
      height: 2px;
      background-color: $red;
      transform: rotate(-7deg) translateY(-50%);
      z-index: 10;
    }
  }
}
.telegram-prace__btn{
  display: block;
  // width: 100%;
  width: 200px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 0.5rem;
  border: none;
  border-radius: 100px;
  background-color: $white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 0 0 1px $text-color;
  color: $text-color;
  cursor: pointer;
  transition: 0.3s;
  &:hover,
  &:focus{
    box-shadow: 0 0 1px 3px $top-color;
    color: $top-color;
    // box-shadow: -3px 3px 5px 0 #182f522f;
  }
  &:focus{
    outline: none;
    box-shadow: 0 0 0 1px $top-color;
  }
  &:active{
    color: $top-color__hover;
    box-shadow: 0 0 1px 3px $top-color__hover;
  }
}
.telegrm-prace__info{
  margin-top: 20px;
  font-size: 13px;
}
.telegram-prace__block--top,
.telegram-prace__block--hit{
  position: relative;
  overflow: hidden;
  &::before{
    position: absolute;
    // width: 250px;
    // height: 50px;
    padding: 5px 150px;
    color: $white;
    transform: rotate(35deg);
    }
}
.telegram-prace__block--top{
  box-shadow: 0 0 0 2px $top-color;
  &::before{
    content: "Выгодно";
    top: 10px;
    right: -145px;
    background-color: $top-color;
  }
}
.telegram-prace__block--hit{
  box-shadow: 0 0 0 2px $top-color__hover;
  &::before{
    content: "ХИТ";
    top: 8px;
    right: -125px;
    background-color: $top-color__hover;
  }
}
.telegram-price__form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.telegram-price__lvl{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  label{
    display: flex;
    align-items: center;
    margin-left: 0.6em;
    margin-right: 0.6em;
    font-size: 22px;
    cursor: pointer;
  }
  .telegram-price__form--radio{
    width: 20px;
    height: 20px;
    padding-right: 20px;
    // background-color: $top-color;
    border-radius: 100%;
    box-shadow: 0 0 0 2px $top-color;
    transition: box-shadow 0.2s ease-in-out;
  }
  .telegram-price__form--radio:hover{
    box-shadow: 0 0 4px 3px $top-color;
  }
  .telegram-price__form--radio:hover::before{
    content: "";
    transform: scale(0.4);
    transition: transform 0.2s ease-in-out;
  }
  .telegram-price__form--radio::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $top-color;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
  }
  input:checked + .telegram-price__form--radio:hover{
    box-shadow: 0 0 0 2px $top-color;
  }

  input:checked + .telegram-price__form--radio::before{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  .telegram-price__form--lvl{
    padding-left: 10px;
  }
}
@media(min-width: 964px){
  .telegram-prace{
    padding-bottom: 60px;
    padding-right: 0;
    background-size: contain;
  }
  .telegram-price__wraper{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
  }
  .telegram-prace__containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

  }
  .telegram-prace__block{
    max-width: 600px;
    width: 100%;
  }
}

.telegram-price__error{
  display: none;
  margin: 10px;
  padding: 5px 5px;
  border-top: solid 1px $red;
  border-right: solid 1px $red;
  border-left: solid 1px $red;
  text-align: center;

  a{
    display: inline-block;
    // width: auto;
    margin: 10px;
    padding: 0.1em 1em;
    border-radius: 5px;
    background-color: $red;
    color: $white;
    text-decoration: none;
  }

}
.telegram-price__error--red-text,
.telegram-price__error--why-text{
  display: block;
}

.telegram-price__error--red-text{
  color: $red;
}
