// переменные
$top-color:#57ACFF;
$text-color:#182F52;
$text-add:#646F87;
$gren:#00C1A4;
$gren__hover:#18c26d;
$gren__active:#06c100;
$gray:#CFCFCF;
$gray__hover:#acacac;
$white:#FFFFFF;
$top-color__hover:#c484ff;
$top-color__test:#82bffc;
$top-color__active:#4C95DE;
.wraper-for-footer{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .your-lvl{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  .footer{
    margin-top: auto;
  }
}
.test-title{
  margin-top: 50px;
  text-align: center;
}
.header-test{
  background: $top-color;
  box-shadow: 0px 10px 7px -2px rgba(43, 105, 132, 0.38);
  color: $white;
  z-index: 1;
  .site-list__item-podmenu{
    background-color: $top-color;
  }
}
.your-lvl{
  padding: 0 20px;
}

.your-lvl__test{
  position: relative;
  margin-top: 50px;
  padding-bottom: 50px;
  // border: 1px solid $gray__hover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: $white;
  text-align: center;
  border-radius: 10px;
  // animation-name: lvl-modal-open;
  // animation-duration: 0.4s
}
.your-lvl__header{
  padding: 2px 16px;
  background-color: $gren__hover;
  color: $white;
}
.your-lvl__box{
  display: block;
  width: auto;
  height: 3px;

}
.your-lvl__qestions{
  padding: 20px 20px;
  font-size: 20px;
}

.your-lvl__btn{
  display: block;
	margin: 8px auto;
	padding: 10px 25px;
	width: 90%;
	border: 0;
  border-radius: 10px;
	background: $top-color;
	color: $white;
	font-size: 15pt;
	cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.your-lvl__btn:hover{
  box-shadow: 0 0 0 1px $text-add;
  transition: all 0.1s ease-in-out;
}
.your-lvl__btn-wrong
{
	background: #c25d5d;
 }

.your-lvl__btn-correct
{
	background: #2ebb5d;
}

.your-lvl__btn-passive
{
	background: #B3B3B3;
}
.your-lvl__quantity{
  padding: 10px 0;
  font-size: 20px;
}
.test-lvl-audio{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.your-lvl__gray .your-lvl__btn-wrong{
  background: #B3B3B3;
}


@media (min-width: 768px){
  .your-lvl{
    padding-left: 50px;
    padding-right: 50px;
    // margin-left: 50px;
    // margin-top: 50px;
    // margin-right: 50px;
    // margin-bottom: 50px;
    // padding-top: 100px;
  }
  .your-lvl__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
  .your-lvl__test{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
// @media (max-height: 550px){
//   .your-lvl__modal{
//     padding-top: 5vh;
//   }
//   .your-lvl__modal-title{
//     margin: 5px;
//     font-size: 20px;
//   }
//   .your-lvl__buttons{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
